/* General Styles */
body {
    font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: transparent;
    color: #fff;
}

.container {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container {
    display: flex;          /* Enables Flexbox */
    align-items: center;    /* Aligns items vertically */
    gap: 8px;              /* Space between image and text */
    align-self: center;
    justify-content: center;
}

.player-face {
    width: 32px;           /* Match the image size */
    height: 32px;          /* Keep it square */
    border-radius: 4px;    /* Optional: Adds rounded corners */
}

.player-text {
    font-size: 16px;      /* Adjust text size */
}


/* Title & Subtitle */
h2 {
    text-align: center;
    font-size: 24px;
}

#header-player{
    width: 400px;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Table Styling */
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;
}

th, td {
    color: white;
    padding: 12px;
    text-align: center;

}

td {
}

th {
    font-size: 16px;
}

/* Alternate row colors per leaderboard */
.legendary tr:nth-child(odd) { background-color: #52b788; }
.legendary tr:nth-child(even) { background-color: #40916c; }
.legendary th { background-color: #1b4332; }

.shiny tr:nth-child(odd) { background-color: #da627d; }
.shiny tr:nth-child(even) { background-color: #a53860; }
.shiny th { background-color: #450920; }

.standard tr:nth-child(odd) { background-color: #613dc1; }
.standard tr:nth-child(even) { background-color: #4e148c; }
.standard th { background-color: #2c0735; }

tr:hover { background-color: #ddd; transition: 0.3s; }

/* Footer */
.footer {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
